#include <zephyr/dt-bindings/input/input-event-codes.h>
#include <zephyr/dt-bindings/input/esp32-touch-sensor-input.h>

// aliases & leds don't exist in the dts file
/ {
aliases {
	led1 = &led1;
	touch1 = &touch1;
};

leds {
	compatible = "gpio-leds";
	led1: led_1 {
		gpios = <&gpio0 5 GPIO_ACTIVE_HIGH>;
		label = "TOUCH LED";
	};
};
};

&touch {
	status = "okay";
	touch1: touch_1 {
		channel-num = <1>;
		channel-sens = <20>;
		zephyr,code = <INPUT_KEY_0>;	// 11
	};
};